/*
*= require_tree .
*/

@import "bootstrap";

.btn {
	cursor: pointer;
}

.mr5 {
	margin-right: 5px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.width15per {
	width: 15%;
}

.width7per {
	width: 7%;
}